* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

.logo {
  color: white;
  font-weight: 780;
}

span {
  color: black;
  background-color: rgb(255, 162, 0);
  padding: 3px 3px;
  border-radius: 5px;
}

header {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  padding: 10px 50px;
}

/*kebab*/

.kebab {
  display: none;
  background-color: rgba(37, 37, 37, 0.363);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

.kebab:hover {
  opacity: 0.6;
}

/*kebab*/

nav ul {
  width: 60vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
nav ul li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  flex-direction: row;
}

.active {
  color: rgb(255, 255, 255);
  font-weight: bold;

  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 0 10%;
}

.details {
  color: white;
  text-align: justify;
  width: 100%;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.details h1 {
  font-size: 40px;
  display: flex;
  align-items: start;

  width: 100%;
  padding: 10px;
}

.details p {
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .kebab {
    display: flex;
  }
  nav ul {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    padding: 10px 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .kebab {
    display: flex;
  }

  nav ul {
    display: none;
    position: fixed;
    background-color: black;
    width: 50%;
    height: 100vh;
    top: 10%;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30%;
    padding-left: 10%;
  }

  nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 100%;
    height: fit-content;
    padding: 10px;
  }
}
