* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
}

.logo {
  color: white;
  font-weight: 780;
}

span {
  color: black;
  background-color: rgb(255, 162, 0);
  padding: 3px 3px;
  border-radius: 5px;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1cm 20px;
  background: black;
  align-items: center;
  justify-content: center;
}

.container1 .logo {
  font-size: 25px;
  margin-top: -5px;
}

header {
  background: black;
  padding: 20px 0;
}

header h1 {
  float: left;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: rgb(255, 162, 0);
  margin: 17px;
  text-decoration: none;
}

.activetab {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer {
  margin-top: 2cm;
  color: rgb(255, 162, 0);
  padding: 10px 0;
  text-align: start;
  margin-left: 4cm;
}

.main {
  display: flex;
}

.title {
  color: rgb(255, 162, 0);
  position: absolute;
  font-size: 30px;
  top: 0;
  left: 0;
  font-weight: 600;
  margin-top: 4cm;
  margin-left: 16.8cm;
  z-index: 1;
}

.pic img {
  margin-top: 2cm;
  width: 400px;
  border-radius: 10px;
  margin-right: 4cm;
  background-color: red;
  flex-basis: 25%;
}

.pic img:hover {
  margin-top: 2cm;
  width: 400px;
  border-radius: 10px;
  margin-right: 4cm;
  background-color: red;
  flex-basis: 25%;
}

.main {
  align-items: center;
  height: 500px;
  width: max-content;
  display: flex;
  justify-content: center;
  padding-left: 4cm;
  padding-right: 4cm;
}

.image {
  height: 400;
  width: max-content;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.image .first-batch {
  display: flex;
  gap: 10px;
}

.image .second-batch {
  display: flex;
  gap: 10px;
}

.first-batch img {
  width: 580px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-batch img {
  width: 580px;
  border-radius: 10px;
  display: none;
  justify-content: center;
}

.image img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.pagination {
  font-size: 50px;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 12cm;
  margin-left: -19cm;
}

.pagination button {
  font-weight: 600;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 60px;
  margin-left: 7px;
  font-size: 18px;
  background: rgb(29, 29, 29);
  color: white;
}

.pagination button.prev,
.next {
  color: rgb(135, 135, 135);
}

.pagination button.nums {
  height: 40px;
  width: 50px;
}

.pagination button.first {
  border: 2px solid rgb(255, 162, 0);
}

/* Additions */
.active {
  background-color: orange;
  color: black;
}

.pagination button.prev.active {
  background-color: orange;
  color: black;
}

.pagination button.next.active {
  background-color: orange;
  color: black;
}

.pagination button.nums.active {
  border: 2px solid orange;
}

@media only screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;

    color: white;

    align-items: center;
    padding: 2vh;
  }

  .details {
    width: 100%;
    padding-right: 30px !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-size: 16px;
    padding-left: 30px;
  }

  .pic {
    width: 80%;
    background-color: chartreuses;
  }

  .pic img {
    width: 100%;
    border-radius: 13px;
  }

  nav ul {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    padding: 10px 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .main {
    display: flex;
    flex-direction: column-reverse;

    width: 100%;
    height: 100%;

    color: white;

    align-items: center;
    padding: 2vh;
  }

  .details {
    width: 100%;
    padding-right: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    font-size: 16px;
  }
}
